<footer>
{%- set localePrefix = locale.prefix or '' -%}
{%- set labels = locale.labels or {} -%}
{%- if footerVariant == "short" %}
  <p>Spinnit &copy; {{ site.year }} - {{ labels.footerTagline or 'free forever' }} &nbsp;|&nbsp; <a href="{{ localePrefix }}/privacy.html">{{ labels.privacy or 'Privacy' }}</a> &nbsp;|&nbsp; <a href="{{ localePrefix }}/about.html">{{ labels.about or 'About' }}</a></p>
{%- else %}
  <p>Spinnit &copy; {{ site.year }} - {{ labels.footerTagline or 'free forever' }} &nbsp;|&nbsp; <a href="{{ localePrefix }}/tools/">{{ labels.allTools or 'All Tools' }}</a> &nbsp;|&nbsp; <a href="{{ localePrefix }}/blog/">{{ labels.blog or 'Blog' }}</a> &nbsp;|&nbsp; <a href="{{ localePrefix }}/privacy.html">{{ labels.privacy or 'Privacy' }}</a> &nbsp;|&nbsp; <a href="{{ localePrefix }}/terms.html">{{ labels.terms or 'Terms' }}</a> &nbsp;|&nbsp; <a href="{{ localePrefix }}/about.html">{{ labels.about or 'About' }}</a> &nbsp;|&nbsp; <a href="{{ localePrefix }}/contact.html">{{ labels.contact or 'Contact' }}</a></p>
{%- endif %}
</footer>
